.frmCinza { font-family:Arial; font-size:10px; color:#555555; background-color:#e0e0e0; border:1px solid; border-color:#666666; height:19px;} a.frmCinza { font-family:Arial; font-size:10px; color:#555555; background-color:#e0e0e0; border:1px solid; border-color:#666666; text-decoration: none; font-weight: none; height:19px;}.rato { color: #075494; font-size: 11px; font-family: arial; font-weight: normal } a.rato { color: #075494; font-size: 11px; font-family: arial; font-weight: none; text-decoration: underline; }.geral {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}