
.menu-hv {
position: relative;
margin: 0;
padding: 0;
display: block;
zoom: 1;
}
#links ul {
margin: 0px;
list-style-position: outside;
list-style-type: none;
padding-top: 30px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 25px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 15px;
}
#links ul li {
display: inline;
border-right-width: 1px;
border-left-width: 1px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #04425D;
border-left-color: #07658E;
margin: 0px;
float: left;
}
#links ul li:first-child {
display: inline;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #04425D;
margin: 0px;
float: left;
border-left-style: none;
}
#links ul li:last-child {
display: inline;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #07658E;
margin: 0px;
float: left;
border-right-style: none;
}
#links ul li a {
color: #FFF;
text-decoration: none;
margin-right: 15px;
margin-left: 15px;
display: block;
float: left;
}
#links ul li a:hover {
color: #FC0;
}
#links ul li ul {
width: 260px;
padding: 2px;
display: block;
margin-top: -5px;
margin-right: 2px;
margin-bottom: 0px;
margin-left: 0px;
}
#links ul li ul li {
display: block;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #075070;
float: left;
width: 260px;
font-size: 13px;
margin: 0px;
border-top-color: #076E9B;
border-top-width: 1px;
border-top-style: solid;
border-right-style: none;
border-left-style: none;
}
#links ul li ul li:last-child {
display: block;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #075070;
float: left;
width: 260px;
font-size: 13px;
margin: 0px;
border-top-color: #076E9B;
border-top-width: 1px;
border-top-style: solid;
border-right-style: none;
border-left-style: none;
}
#links ul li ul li:first-child {
display: block;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #075070;
float: left;
font-size: 15px;
border-top-style: none;
border-right-style: none;
border-left-style: none;
height: 22px;
margin-top: 1px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-bottom: 3px;
}
#links ul li ul li:first-child a {
display: block;
color: #FFCC00;
background-color: #065172;
padding-top: 2px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 13px;
width: 240px;
border-top-style: none;
height: 23px;
margin: 0px;
}
#links ul li ul li a {
display: block;
color: #FFFFFF;
width: 245px;
margin: 0px;
background-color: #0A587A;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 10px;
}

.menu-hv *  {
padding: 0;
list-style: none;
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
z-index: 120; 
}
.menu-hv li ul {
float: left;
left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.menu-hv li {
position: relative;
vertical-align: top;
display: block;
}
.menu-hv a  {
display: block; 
}
.menu-hv li ul, .links-vv li ul {
position: absolute;
left: 0px;
visibility: hidden;
}
.menu-hv li:hover ul,  .links-vv li:hover ul,
.menu-hv li.hover ul,  .links-vv li.hover ul { visibility: visible }
.menu-hv li:hover ul ul,  .links-vv li:hover ul ul,
.menu-hv li.hover ul ul,  .links-vv li.hover ul ul { visibility: hidden }
.menu-hv li li:hover ul,  .links-vv li li:hover ul,
.menu-hv li li.hover ul,  .links-vv li li.hover ul { visibility: visible }
.menu-hv li li:hover ul ul,  .links-vv li li:hover ul ul,
.menu-hv li li.hover ul ul,  .links-vv li li.hover ul ul { visibility: hidden }
.menu-hv li li li:hover ul,  .links-vv li li li:hover ul,
.menu-hv li li li.hover ul,  .links-vv li li li.hover ul { visibility: visible }
/* características horizontal-vertical */
.menu-hv:after, .menu-hv.after { content: "."; line-height: 0px; clear: both; display: block; visibility: hidden}
.menu-hv li {
float: left;
display: block;
} 
.menu-hv li ul li {
float: none;
display: block;
}
.menu-hv li ul li ul {
position: absolute;
}
)(this) , 'auto') 
.menu-hv li ul# a:hover {
color: #DA1010;
}